<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cines</title>
    <link rel="stylesheet" href="../cssCines.css">
</head>
<body>
    <%- layout('layouts/plantillaEjs') %>
    <div class="container">
        
          <div  id="cinesDisp">
            <h1>Cines disponibles</h1>
            <div id="cines-container" class="list-group"></div>
          </div>
          <div  id="detallesCine">
            <h2>Detalles del cine seleccionado</h2>
            <h3>Películas:</h3>
            <p id="peliculas"></p>
            <h3>Combos:</h3>
            <p id="combos"></p>
          </div>
    
      </div>
      <div class="mapaCines">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d148447.44379399464!2d-58.406573173197756!3d-34.698720768716896!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbernal%20cines!5e0!3m2!1ses!2sar!4v1687123086987!5m2!1ses!2sar" width="900" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>


<script src="../pantallaCines.js" data-lista-cines="<%= JSON.stringify(listaCines) %>"></script>

</body>
</html>