
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../index.css">
    <title></title>
</head>
<body>
    <%- layout('layouts/plantillaEjs') %>
    <div class="container" style="font-family: 'Open Sans', sans-serif;" id="signin">
      <form action="/signin" method="POST">
        <div class="formulario">
          <h1 style="font-size: 46px; color: #070c1c; font-family:'Anton', sans-serif; font-weight: bold; text-align: center;">Ingresar</h1>
          <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Ej: ejemplo@gmail.com" autofocus>
        </div>
        <div>
          <label for="exampleInputPassword1" class="form-label">Contraseña</label>
          <div class="password-wrapper">
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            <span class="toggle-password" onclick="togglePasswordVisibility()"><i class="fa fa-eye-slash"></i></span>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
      </form>
      
      
    </div>
    <script src="../contra.js"></script>
</body>
</html>