
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- BOOSTRAP-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container">

            <div id="pelis" class="row" >
            </div>
        </div>
        

       <div id="myModal" class="container modal">
            <div class="modal-content" id="contenidoDeVentana" style="text-decoration: none;
            color: black;">
              <a href=""><span class="close" style="font-size: 30px;">&times;</span></a>
              <img id="modalPoster" src="" alt="Movie Poster" style="width: 300px; align-items: center;">
              <h2 id="modalTitle" ></h2>
              <p id="modalSynopsis" ></p>
              <iframe id="modalTrailer" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
              <h2>Plataforma donde poder verla</h2>
              <p id="modalPlataforma" ></p>
              <h2>Puntuacion</h2>
              <p id="modalPuntuacion" ></p>
              <h2>Valoracion</h2>
              <p id="modalValoracion" ></p>
            </div>
        </div> 
        <script type="module" src='mostrarPeliculas.js'></script>
    </body>
    </html>
